{% extends "layout.html"%}

{% block body %}
    <div class="text-center">
        <h2>Sentential Logic Validator</h2><br>
    </div>
        <h4>What is it?</h4>
        <p>The Sentential Logic Validator checks the validity of arguments from propositional logic.
        An argument is invalid if all its premises are true while its conclusion is false, otherwise the argument is valid.
        If the argument is invalid, the invalidating assignment will be marked red in the truth table.</p>
        <p>For more information on sentential logic and validity, see this primer by Richard Grandy & Daniel Osherson:
        <a href="https://www.princeton.edu/~osherson/primer.pdf" target="_blank">Sentential Logic Primer</a></p>
        <h4>How to use it?</h4>
        <table class="table w-25 table-sm">
            <thead>
                <th>Symbol</th>
                <th>Function</th>
            </thead>
            <tbody>
                <tr><td>;</td><td>Separate premises</td></tr>
                <tr><td>~</td><td>Negation</td></tr>
                <tr><td>&</td><td>Conjunction</td></tr>
                <tr><td>|</td><td>Disjunction</td></tr>
                <tr><td>></td><td>Conditional</td></tr>
                <tr><td>=</td><td>Biconditional</td></tr>
                <tr><td>()</td><td>Grouping</td></tr>
                <tr><td>A-Z</td><td>Variables</td></tr>
            </tbody>
        </table>
        <form action="/help" method="POST">
            <button type="submit" class="btn btn-primary">Back</button>
        </form>
    </div>
{% endblock %}