{% extends "layout.html"%}

{% block body %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flashes">
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="text-center">
            <h2>Sentential Logic Validator</h2><br>
        </div>

        <form action="/" method="POST">
            <div class="d-flex justify-content-center">
                <div class="form-floating mb-3 w-50">
                    <input autocomplete="off" autofocus type="text" class="form-control" name="premises" placeholder="Premises">
                    <label for="premises">Premises</label>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="form-floating mb-3 w-50">
                    <input autocomplete="off" autofocus type="text" class="form-control" name="conclusion" placeholder="Conclusion">
                    <label for="conclusion">Conclusion</label>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" name="validate" value="Validate" class="btn btn-primary">Validate</button>
                <button type="submit" name="clear" value="Clear" class="btn btn-secondary">Clear</button>
                <button type="submit" name="help" value="Help" class="btn btn-secondary">Help</button>
            </div>
        </form>


        <div class="text-center">
            <br><br>
            {% if validity == "VALID" %}
            <h3 class="text-success">{{ validity }}</h3>
            {% else %}
            <h3 class="text-danger">{{ validity }}</h3>
            {% endif %}
            <br>
        </div>

        <!--<div class="text-center"></div>-->
        <table class="table w-50 text-center mx-auto table-hover">
            <thead>
                {% for th in thead %}
                    <th>{{ th }}</th>
                {% endfor %}
            </thead>
            <tbody class="table-group-divider">
                {% for tr in tbody %}
                    {% if loop.index == invalid_row %}
                    <tr class="table-danger">
                    {% else %}
                    <tr>
                    {% endif %}
                        <th>{{ loop.index }}</th>
                        {% for td in tr %}
                        <td>{{ td }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}

