{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>Transactions</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Stock</th>
                <th>Number</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.time }}</td>
                <td>{{ transaction.symbol }}</td>
                <td>{{ transaction.shares }}</td>
                <td>{{ transaction.price }}</td>
            </tr>
            {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}