{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>
    <p>Current cash: {{ cash }}</p>
    <p>Total account: {{ total }} </p>
    <table class="table">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Number</th>
                <th>Current price</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock[0] }}</td>
                <td>{{ stock[1] }}</td>
                <td>{{ stock[2] }}</td>
                <td>{{ stock[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}